.comingSoon {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .comingSoon .comingSoonTitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: black;
    background-color: #ae67e8 ;
  }